body{
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-size: 115%;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 40%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid {
    margin: 0px;
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    color: white;
}

.grid:nth-child(-n+3) {
    border-top: 0px;
}

.grid:nth-child(3n+1) {
    border-left: 0px;
}

.grid:nth-child(3n + 3) {
    border-right: none;
}

.grid:nth-last-of-type(-n + 3) {
    border-bottom: none;

}

.grid:hover {
    background-color: lightblue;
}

#start {
    position: absolute;
    bottom: 5px;
    left: 27%;
    margin-bottom: 10%;
    width: 80px;
    height: 50px;
    background-color: blanchedalmond;
    cursor: pointer;
}

#start:hover {
    background-color: gray;
}

#restart {
    position: absolute;
    bottom: 5px;
    left: 67%;
    margin-bottom: 10%;
    width: 80px;
    height: 50px;
    background-color: blanchedalmond;
    cursor: pointer;
}

#restart:hover {
    background-color: gray;
}